<div class="content">
  <h1>Angular Router App</h1>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <nav>
    <ul>
      <li><a routerLink="/slide-toggle" routerLinkActive="active" ariaCurrentWhenActive="page">Slide Toggle
          Component</a>
      </li>
      <li><a routerLink="/cdk-drag-drop" routerLinkActive="active" ariaCurrentWhenActive="page">CDK Drag and Drop
          Component</a>
      </li>
    </ul>
  </nav>
</div>

<!-- The routed views render in the <router-outlet>-->

<router-outlet></router-outlet>